input[type="date"] {
    padding: 7px 10px;
    font-family: "Roboto Mono", monospace;
    font-size: 1rem;
    border: 1px solid black;
    outline: none;
    width: 176px;
}

::-webkit-calendar-picker-indicator {
    background-color: #ffffff;
    padding: 5px;
    cursor: pointer;
    border-radius: 3px;
}